openapi: 3.0.1
info:
  title: Lori Service API
  version: 0.1.0
  contact:
    email: c.bay@zbw.eu
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: http://gui.lori-dev.zbw-nett.zbw-kiel.de/api/v1
    description: dev server
  - url: http://localhost:8082/api/v1
    description: local running
tags:
  - name: right management
    description: Managing rights for bibliographic items
paths:
  /about:
    $ref: 'about.api.yaml#/about'
  /bookmark:
    $ref: 'bookmark.api.yaml#/bookmark'
  /bookmark/{id}:
    $ref: 'bookmark.api.yaml#/bookmark-id'
  /bookmark/list:
    $ref: 'bookmark.api.yaml#/bookmark-list'
  /bookmarkraw:
    $ref: 'bookmark.api.yaml#/bookmarkraw'
  /bookmarktemplates:
    $ref: 'bookmarktemplates.api.yaml#/bookmarktemplates'
  /bookmarktemplates/batch:
    $ref: 'bookmarktemplates.api.yaml#/bookmarktemplates-batch'
  /errors/rights/list:
    $ref: 'error.api.yaml#/right-errors'
  /group:
    $ref: 'group.api.yaml#/group'
  /group/{id}:
    $ref: 'group.api.yaml#/group-id'
  /group/list:
    $ref: 'group.api.yaml#/group-list'
  /item:
    $ref: 'item.api.yaml#/item'
  /item/list:
    $ref: 'item.api.yaml#/item-list'
  /item/search:
    $ref: 'item.api.yaml#/item-search'
  /item/metadata/{handle}:
    $ref: 'item.api.yaml#/item-handle'
  /item/right/{right-id}:
    $ref: 'item.api.yaml#/item-right'
  /item/count/right/{right-id}:
    $ref: 'item.api.yaml#/item-count-right'
  /item/{metadata-id}/{right-id}:
    $ref: 'item.api.yaml#/item-deletion'
  /metadata:
    $ref: 'metadata.api.yaml#/metadata'
  /metadata/{handle}:
    $ref: 'metadata.api.yaml#/metadata-handle'
  /metadata/list:
    $ref: 'metadata.api.yaml#/metadata-list'
  /right:
    $ref: 'right.api.yaml#/right'
  /right/{id}:
    $ref: 'right.api.yaml#/right-id'
  /users/sessions:
    $ref: 'users.api.yaml#/sessions'
  /template:
    $ref: 'template.api.yaml#/template'
  /template/{id}:
    $ref: 'template.api.yaml#/template-id'
  /template/applications:
    $ref: 'template.api.yaml#/template-applications'
  /template/exceptions:
    $ref: 'template.api.yaml#/template-exceptions'
  /template/exceptions/{id}:
    $ref: 'template.api.yaml#/template-exceptions-id'
  /template/{id}/bookmarks:
    $ref: 'template.api.yaml#/template-bookmarks'
  /template/{id}/bookmarks/entries:
    $ref: 'template.api.yaml#/template-bookmarks-entries'
  /template/list:
    $ref: 'template.api.yaml#/template-list'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    cookieAuth:
      type: apiKey
      in: cookie
      name: JSESSIONID

  schemas:
    AccessStateRest:
      $ref: 'right.model.yaml#/AccessStateRest'
    ItemRest:
      $ref: 'item.model.yaml#/ItemRest'
    MetadataRest:
      $ref: 'metadata.model.yaml#/MetadataRest'
    PublicationTypeRest:
      $ref: 'metadata.model.yaml#/PublicationTypeRest'
    RightRest:
      $ref: 'right.model.yaml#/RightRest'
    ErrorRest:
      $ref: 'errorhandling.model.yaml#/ErrorRest'
    BookmarkRest:
      $ref: 'bookmark.model.yaml#/BookmarkRest'
    BookmarkRawRest:
      $ref: 'bookmark.model.yaml#/BookmarkRawRest'
    RightErrorRest:
      $ref: 'error.model.yaml#/RightErrorRest'
